<div class="card">
  <div class="card-body">
    <div class="text-information">
      <h4 class="card-title"><%= t("currency.#{rate.code}") %></h4>
      <h6 class="card-subtitle"><%= rate.code %></h6>
    </div>
    <h3 class="rate-value"><%= rate.value %></h3>
  </div>
</div>
